@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body {
    background-color: #1d2731;
}
/* MENU */
.container-header{
    background: #1d2731;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.container-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.container-header header .logo a{
    font-family: 'Righteous';
    font-size: 36px;
    color: #f6c5cf;
    text-decoration: none;
}
.container-header header ul{
    display: flex;
    list-style: none;
}
.container-header header nav ul li a{
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}
.container-header header nav ul li a:hover{
    color: #f6c5cf;
}
.nav-responsive{
    background-color: #f6c5cf;
    color:#fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
/* INTRODUCTION */
.introduction{
    background: linear-gradient(to top, rgba(38, 30, 38, 0.8), rgba(30,35,38,1)),
    url(img/fondo.jpg);
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
    margin-top: 80px;
}

.introduction .content-banner{
    padding: 20px;
    background-color: #1d2731;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}
  
.introduction .content-banner img{
    margin-top: 40px;
    border: 10px solid #f6c5cf;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}
.introduction .content-banner h1{
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Righteous';
}
.introduction .content-banner h2{
    font-size: 15px;
    font-weight: normal;
}
.introduction .content-banner .links a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}
.introduction .content-banner .links a:hover{
    background-color: #f6c5cf;
}

/* ABOUT ME */
.about_me{
    background-color: #1d2731;
    color: #fff;
    padding: 50px 20px;
}
.about_me .content-section{
    max-width: 1100px;
    margin: auto;
}
.about_me h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}
.about_me .content-section p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}
.about_me .content-section p span{
    color: #f6c5cf;
    font-weight: bold;
}
.about_me .row{
    display: flex;
}
.about_me .row .col
{
    width: 50%;
}
.about_me .row .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.about_me .row .col ul{
    list-style: none;
}
.about_me .row .col ul li{
    display: block;
    margin: 12px 0;
}
.about_me .row .col ul li strong{
    display: block;
    color: #f6c5cf;
    width: 160px;
}
.about_me .row .col ul li span{
    background-color: #f6c5cf;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}
.about_me .row .col .container-interests{
    display: flex;
    flex-wrap: wrap;
}
.about_me .row .col .container-interests .interest{
    width: 100px;
    height: 100px;
    background-color: #1d2731;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
    text-align: center;
}
.about_me .row .col .container-interests .interest img {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
}

.about_me .row .col .container-interests .interest:hover{
    background-color: #f6c5cf;
}
.about_me .row .col .container-interests .interest i{
    font-size: 30px;
    margin-bottom: 10px;
}
.about_me button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
    transition: color 1s;
}
.about_me button a {
    text-decoration: none;
    color: inherit;

}
.about_me button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #f6c5cf;
    z-index: -1;
    transition: 1s;
}

.about_me button:hover {
    color: #1d2731;
}
  
.about_me button:hover .overlay{
    width: 100%;
}
/* SKILLS */
.skills{
    background-color: #1d2731;
    color: #fff;
    padding: 50px 20px;
}
.skills .content-section{
    max-width: 1100px;
    margin: auto;
}
.skills h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}
.skills .row{
    display: flex;
}
.skills .row .col{
    width: 50%;
    padding: 0 20px;
}
.skills .row .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.skills .skill > span{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}
.skills .skill .skill-bar{
    height: 8px;
    width: 80%;
    background-color: #fff;
    position: relative;
    margin-bottom: 30px;
}
.skills .skill .progress{
    background-color: #f6c5cf;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}
.skills .skill .skill-bar span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #f6c5cf;
    color:#1d2731;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}
/* These classes are dynamically grouped via javascript */
.skills .skill .java{
    width: 0%;
    animation: 2s java forwards;
}
@keyframes java {
    0%{width: 0%;}
    100%{width: 95%;}
}

.skills .skill .python{
    width: 0%;
    animation: 2s python forwards;
}
@keyframes python {
    0%{width: 0%;}
    100%{width: 97%;}
}

.skills .skill .c{
    width: 0%;
    animation: 2s c forwards;
}
@keyframes c {
    0%{width: 0%;}
    100%{width: 85%;}
}

.skills .skill .javascript{
    width: 0%;
    animation: 2s javascript forwards;
}
@keyframes javascript {
    0%{width: 0%;}
    100%{width: 90%;}
}

.skills .skill .react{
    width: 0%;
    animation: 2s react forwards;
}
@keyframes react {
    0%{width: 0%;}
    100%{width: 93%;}
}

.skills .skill .htmlcss{
    width: 0%;
    animation: 2s htmlcss forwards;
}
@keyframes htmlcss {
    0%{width: 0%;}
    100%{width: 99%;}
}

.skills .skill .aws{
    width: 0%;
    animation: 2s aws forwards;
}
@keyframes aws {
    0%{width: 0%;}
    100%{width: 85%;}
}

.skills .skill .node{
    width: 0%;
    animation: 2s node forwards;
}
@keyframes node {
    0%{width: 0%;}
    100%{width: 90%;}
}

.skills .skill .linux{
    width: 0%;
    animation: 2s linux forwards;
}
@keyframes linux {
    0%{width: 0%;}
    100%{width: 85%;}
}

.skills .skill .agile{
    width: 0%;
    animation: 2s agile forwards;
}
@keyframes agile {
    0%{width: 0%;}
    100%{width: 95%;}
}

.skills .skill .jenkins{
    width: 0%;
    animation: 2s jenkins forwards;
}
@keyframes jenkins {
    0%{width: 0%;}
    100%{width: 85%;}
}

.skills .skill .postman{
    width: 0%;
    animation: 2s postman forwards;
}
@keyframes postman {
    0%{width: 0%;}
    100%{width: 85%;}
}
/* EXPERIENCES */
.experiences{
    background-color: #1d2731;
    color: #fff;
    padding: 50px 20px;
}
.experiences .content-section{
    max-width: 1100px;
    margin: auto;
}
.experiences h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}
.experiences .row{
    display: flex;
    justify-content: space-between;
}
.experiences .row .col{
    width: 49%;
    padding: 0 20px;
}
.experiences .row .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.experiences .row .leftside{
    border-right: 2px solid #052838;
}
.experiences .row .rightside{
    border-left: 2px solid #052838;
}
.experiences .row .item{
    padding: 25px;
    margin-bottom: 30px;
    background-color: #052838;
    position: relative;
}
.experiences .row .item h4{
    font-size: 20px;
    margin-bottom: 10px;
}
.experiences .row .item .org{
    color: #f6c5cf;
    font-size: 22px;
    font-weight: bold;
    display: block;
}
.experiences .row .item .date{
    display: block;
    color: #f6c5cf;
    margin-bottom: 10px;
}
.experiences .row .item p{
    line-height: 24px;
}
.experiences .row .left{
    border-right: 2px solid #f6c5cf;
    margin-right: 20px;
}
.experiences .row .right{
    border-left: 2px solid #f6c5cf;
    margin-left: 20px;
}
.experiences .row .item .line-left{
    height: 2px;
    background-color: #f6c5cf;
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;
}
.experiences .row .item .line-left .circle-left{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #f6c5cf;
    float: right;
    position: relative;
    bottom: 4px;
}
.experiences .row .item .line-right{
    height: 2px;
    background-color: #f6c5cf;
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
    z-index: 5;
}
.experiences .row .item .line-right .circle-right{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #f6c5cf;
    float: left;
    position: relative;
    bottom: 4px;
}
/* PROJECTS */
.projects{
    background-color: #1d2731;
    color: #fff;
    padding: 50px 20px;
}
.projects .content-section{
    max-width: 1150px;
    margin: auto;
}
.projects h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.projects .gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.projects .gallery .project a{
    color: #fff;
    text-decoration: none;
}

.projects .gallery .project{
    position: relative;
    max-width: 475px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}
.projects .gallery .project img{
    width: 100%;
    display: block;
}
.projects .gallery .project .overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(#f6c5cf, #f6c5cf);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}
.projects .gallery .project .overlay h3{
    margin-bottom: 20px;
    transition: 1s;
}
.projects .gallery .project .overlay:hover{
    opacity: 1;
}
.projects .gallery .project .overlay:hover h3{
    margin-bottom: 0px;
}
footer{
    background-color: #1d2731;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}
footer .links{
    margin-bottom: 20px;
}
footer .links a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}
footer .links a:hover{
    background-color: #f6c5cf;
}
footer .top{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #f6c5cf;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}
/* RESPONSIVE */
@media screen and (max-width:980px){
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #1d2731;
        width: 180px;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
}
@media screen and (max-width:700px){
    .about_me .row{
        display: block;
    }
    .about_me .row .col{
        width: fit-content;
    }

    .skills .row{
        display: block;
    }
    .skills .row .col{
        width: 100%;
    }
    .skills .row .col .skill-bar{
        width: 100%;
    }

    .experiences .row{
        display: block;
    }
    .experiences .row .col{
        width: 90%;
    }
    .experiences .row .right{
        margin-left: 20px;
    }

    .projects .gallery{
        display: block;
        width: 100%;
    }
    .projects .gallery .project{
        max-width: 100%;
    }
    .projects .gallery .project img{
        width: 100%;
    }
}